#sidebar{
  display:grid;
  justify-items:left;
  justify-content:center;
  text-align:justify;
}
#sidebar span{
  font-weight:normal;
}
#sidebar #coins{
  font-weight:normal;
  margin-top:1em;
}
#sidebar #instructions{
  font-weight:normal;
  margin-top:1em;
  width:30em;
}
#sidebar #mapstyle{
  margin-top:1em;
}
#sidebar #permalink p{
  margin:0;
  padding:0;
}
